<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Celebrité form</title>
</head>
<div layout:fragment="content" class="container mt-3 mb-3" id="celebriteForm">
    <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="card">
            <div class="card-header" th:if="${mode=='new'}"> Ajouter une celebrité </div>
            <div class="card-header" th:if="${mode=='edit'}">Modifier une celebrité </div>
            <div class="card-body">
                <form name ="celebrite" action="#" th:action="@{/saveCelebrite}" method="post">
                    <div class="form-group" style= "visibility:hidden" th:if="${mode=='edit'}">
                        <label class="control-label">ID de la celibrité :</label>
                        <input type="number" name="numCelebrite" class="form-control"
                               th:value="${celebrite.numCelebrite}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nom de la celebrité :</label>
                        <input type="text" name="nom" class="form-control" th:if="${mode=='new'}"
                               th:value= "nom" />
                        <input type="text" name="nom" class="form-control" th:if="${mode=='edit'}"
                               th:value="${celebrite.nom}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Prénom de la celebrité :</label>
                        <input type="text" name="prenom" class="form-control" th:if="${mode=='new'}"
                               th:value="prenom"/>
                        <input type="text" name="prenom" class="form-control" th:if="${mode=='edit'}"
                               th:value="${celebrite.prenom}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nationalité de la celebrité :</label>
                        <input type="text" name="nationalite" class="form-control" th:if="${mode=='new'}"
                               th:value="nationalite"/>
                        <input type="text" name="nationalite" class="form-control"  th:if="${mode=='edit'}"
                               th:value="${celebrite.nationalite}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Epoque:</label>
                        <input type="text" name="epoque" class="form-control" th:if="${mode=='new'}"
                               th:value="epoque" />
                        <input type="text" name="epoque" class="form-control" th:if="${mode=='edit'}"
                               th:value="${celebrite.epoque}"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Monuments associés :</label>
                        <select  class="form-control" name="monuments" multiple="multiple">
                            <option th:each="m : ${monuments}"
                                    th:selected="${{m}}"
                                    th:value="${{m}}"
                                    th:text="${m.getNomM()}">monuments
                            </option>
                        </select>
                    </div>

                        <button type="submit" class="btn btn-primary">Valider</button>

                </form>
            </div>
        </div>
    </div>
</div>