<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tous les monuments</title>
</head>
<div layout:fragment="content" class="container mt-3 mb-3">
    <div class="container">
        <div class="card table-responsive">
            <div class="card-header">
                Liste des Monuments
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>NomM </th>
                        <th>proprietaire</th>
                        <th>typeMonument</th>
                        <th>Localité</th>
                        <th>codeLieu</th>
                        <th>longitude</th>
                        <th>latidute</th>
                        <th>Celebrités associées</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Edition</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Supression</th>
                    </tr>
                    <tr th:each="m:${monuments}">
                        <td th:text="${m.nomM}"></td>
                        <td th:text="${m.proprietaire}"></td>
                        <td th:text="${m.typeMonument}"></td>
                        <td th:text="${m.getLocalite().getNomCom()}"></td>
                        <td th:text="${m.getLocalite().getCodeInsee()}"></td>
                        <td th:text="${m.longitude}"></td>
                        <td th:text="${m.latitude}"></td>

                        <td>
                            <p th:each="c:${m.getCelebrites()}" th:text="${c.getNom()}"></p>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success" th:href="@{editMonument(id=${m.getCodeM()})}">Editer</a></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" onclick="return confirm('Confirmer supression ?')"
                               th:href="@{deleteMonument(id=${m.getCodeM()})}">Supprimer</a></td>

                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>